body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to left bottom, rgb(240, 244, 244), rgb(11, 146, 230));
    font-family: monospace, sans-serif;
    color: rgb(1, 16, 11);
}
.container{
    background: rgba(225, 233, 245, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-size: 32px;

}
.temp-container{
    width: 100%;
    padding: 15px;
    font-weight: hold;
    font-size: 18px;

}
input{
    width: 220px;
    font-family: monospace;
    float: right;
    padding: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.6);
    color: darkblue;
    font-size: 18px;
}
input::placeholder{
    color: darkgray;
}